.DS_Store

# These are addons that I use that are not part of the ChopsUI bundle.
\!Swatter
AhGoblin
AhInventory
Auc-*
BalancePowerTracker*
BeanCounter
Blizzard_*
DataStore*
Enchantrix*
Informant
SlideBar
Stubby
TradeSkillMaster*
latest-update.txt
CollectMe
GatherMate2
GatherMate2_Data
_NPCScan
