.DS_Store

# These are addons that I use that are not part of the ChopsUI bundle.
\!Swatter
Altoholic*
ArkInventory*
AtlasLoot*
Auc-*
BalancePowerTracker*
BeanCounter
Blizzard_*
DataStore*
Enchantrix*
Informant
PowerAuras
ReforgeLite
SlideBar
Stubby
TradeSkillMaster*
TrickOrTreat
