.DS_Store

# These are addons that I use that are not part of the ChopsUI bundle.
\!Swatter
AhGoblin
AhInventory
Altoholic*
Auc-*
BalancePowerTracker*
BeanCounter
Blizzard_*
DataStore*
Enchantrix*
Informant
SlideBar
Stubby
TradeSkillMaster*
